.updateBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .updateBlock_union {
    width: 55%;
  }

  .premium {
    width: 40%;
    .advertising {
      width: 100%;
      height: 400px;
    }
  }
}
