/*.updateBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .updateBlock_union {
    width: 58%;
  }

  .premium {
    width: 40%;
    .advertising {
      width: 100%;
      height: 400px;
    }
  }
}*/

.updateBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .updateBlock_union {
    width: 58%;
  }

  .premium {
    width: 40%;
    position: relative;

    // Обертка для баннера (сохраняет место в потоке)
    .bannerWrapper {
      width: 100%;
      position: relative;
    }

    .advertising {
      width: 100%;
      height: 400px;
      transition: none; // Убираем transition чтобы не было скачков

      // Липкое состояние
      &.stickyBanner {
        position: fixed;
        top: 5px;
        z-index: 100;
        // Ширина задается через inline style в компоненте
      }
    }
  }
}
