.updateBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .updateBlock_union {
    width: 60%;
  }

  .premium {
    width: 35%;
  }
}

.advertising {
  width: 100%;
  height: 300px;
}
