@import "../../../styles/mixins.scss";
@import "../../../styles/variable.scss";

.modalOverlay {
  @include modalOverlay();
}

.modal {
  @include modal();
}

.closeButton {
  @include closeButton();
}

.title {
  @include titleModal();
}

.description {
  @include descriptionModal();
}

.confirmButton {
  @include confirmModalButton();
}

@include animationModal();

// Адаптивность
@media (max-width: 768px) {
  .modal {
    padding: 30px 20px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 13px;
  }
}
