// Обязательно импортируем переменные в начале
@import "../../../styles/variable.scss";
@import "../../../styles/mixins.scss";

.premiumServerBlockItem {
  width: 100%;
  background: $bg-dark;
  padding: 10px;
  border-radius: 8px $border-radius-neon;
  border: 1px solid rgba($neon-primary, 0.2);
  box-shadow: $glow-primary;

  h2 {
    color: $neon-secondary;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    text-shadow: 0 0 5px rgba($neon-secondary, 0.8),
      0 0 15px rgba($neon-secondary, 0.5);
  }
}

.serverList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.serverItem {
  padding: 10px;
  background-color: $bg-darker;
  border: $border-glow-primary;
  border-radius: $border-radius-sharp;
  cursor: pointer;

  &:hover {
    box-shadow: $glow-secondary;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.play {
  display: flex;
  gap: 5px;
}

.serverName {
  @include name;
  font-size: 12px;
}

// Левый блок (Название и мета-данные)
.serverInfo {
  width: 35%;

  .serverMeta {
    display: flex;
    flex-direction: column;
    color: rgba($text-primary, 0.7); // Полупрозрачный белый для доп. инфо
    font-size: 12px;
    .map {
      @include map;
    }
  }
}

// Центральный блок (Адрес)
.serverAddress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include ipPort;
  width: 45%;
}

.countryFlag {
  font-size: 17px;
  line-height: 1;
  width: 24px;
}

// Правый блок (Ранг)
.serverRank {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  height: 45px;
  background: $gradient-button-glow;
  color: $bg-darker;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: $glow-primary;
}

.premium_image {
  width: 70px;
  height: 60px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}
