@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variable.scss" as v;

.social {
  p {
    margin: 0;
    font-size: 12px;
    color: v.$text-primary;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.img_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socialButton {
  width: 30px;
  height: 30px;
  border-radius: 8%;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s all;
  }
}
