@use "../../../styles/variable.scss" as v;
@use "../../../styles/mixins.scss" as m;

.serverBlockItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px 13px;
  // background: $text-secondary;
  border: 1px solid rgba(v.$neon-primary, 0.1);
  border-radius: v.$border-radius-neon;
  transition: v.$transition-fast;
  cursor: pointer;
  box-shadow: inset 0 -1px 0 rgba(v.$neon-primary, 0.2);
  width: 100%;

  &:hover {
    background: rgba(v.$neon-warning, 0.6);
    border-color: rgba(v.$neon-warning, 0.3);
    box-shadow: inset 0 -1px 0 rgba(v.$neon-warning, 0.3),
      0 0 8px rgba(v.$neon-warning, 0.3);
  }

  &:active {
    transform: scale(0.98);
  }

  // Блок 1-2: Информация о сервере
  .serverInfo {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 0.2rem;

    .nameRow {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .statusBadge {
        background: linear-gradient(135deg, v.$neon-accent, v.$neon-warning);
        color: v.$glitch-purple;
        padding: 0.15rem 0.4rem;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        width: 100px;
        border-radius: 3px;
        text-align: center;
      }

      .name {
        @include m.name;
      }
    }

    .addressRow {
      width: 450px;
      display: flex;
      align-items: center;
      gap: 7px;

      .countryFlag {
        font-size: 17px;
        line-height: 1;
        width: 24px;
      }

      .points {
        font-size: 13px;
        color: v.$neon-warning;
        width: 160px;
      }

      .address {
        @include m.ipPort;
      }
    }
  }

  // Блок 6: Информация о карте
  .mapInfo {
    font-size: 12px;
    width: 12%;
    text-align: center;

    .map {
      @include m.map;
    }
  }
}

.image {
  width: 70px;
  height: 60px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}
