@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variable.scss" as v;

.service {
  background: v.$gradient-cyber-terminal;
  min-height: 100vh;
  padding: 50px;
}

.title {
  @include m.title();
}

.wrapper {
  @include m.wrapper();
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  margin-top: 10px;
  @include m.error();
}

.select {
  @include m.select();
}

.input {
  @include m.input();
  text-align: center;
}

.title_service {
  @include m.title();
  font-size: 26px;
  margin-bottom: 10px;
}

.offer_block {
  display: flex;
  width: 400px;
  gap: 20px;
  align-items: center;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    color: white;
    font-size: 18px;
  }
  a {
    text-decoration: none;
  }

  .color_offer {
    color: v.$cs-blue-team;
  }
}

.offer {
  width: 40px;
  height: 40px;
}

.service_button {
  @include m.button();
}

.line {
  width: 100%;
  height: 2px;
  background-color: v.$cs-blue-team;
}

.infoBlock {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  p {
    color: rgba(v.$text-primary, 0.9);
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    text-align: center;
  }

  .warning {
    color: v.$neon-warning;
    font-weight: bold;
    text-shadow: v.$glow-warning;
  }
}
