@import "../../../styles/mixins.scss";
@import "../../../styles/variable.scss";

.service {
  background: $gradient-cyber-terminal;
  min-height: 100vh;
  padding: 50px;
}

.title {
  @include title();
}

.wrapper {
  @include wrapper();
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  margin-top: 10px;
  @include error();
}

.select {
  @include select();
}

.input {
  @include input();
  text-align: center;
}

.title_service {
  @include title();
  font-size: 26px;
  margin-bottom: 10px;
}

.offer_block {
  display: flex;
  width: 400px;
  gap: 20px;
  align-items: center;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    color: white;
    font-size: 18px;
  }
}

.offer {
  width: 40px;
  height: 40px;
}

.service_button {
  @include button();
}

.line {
  width: 100%;
  height: 2px;
  background-color: $cs-blue-team;
}

.infoBlock {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  p {
    color: rgba($text-primary, 0.9);
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    text-align: center;
  }

  .warning {
    color: $neon-warning;
    font-weight: bold;
    text-shadow: $glow-warning;
  }
}
