@use "../../../../styles/mixins.scss" as m;

.viewServices {
  @include m.modalOverlay();
}

.modal_image {
  @include m.modal();
  position: relative;
  // aspect-ratio: 16 / 9;
  width: min(90vw, 900px);
  max-width: 900px;
  height: 400px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
  }
}
