@use "../../../styles/variable.scss" as v;

// --- Анимация сканера (тот же эффект) ---
@keyframes cyber-scan {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@mixin skeleton-box {
  background: linear-gradient(
    90deg,
    v.$new-background 0%,
    rgba(v.$neon-primary, 0.08) 50%,
    v.$new-background 100%
  );
  background-size: 200% 100%;
  animation: cyber-scan 1.5s infinite linear;
  border-radius: 4px;
}

// Общая обертка (копия .updateBlock)
.skeleton_wrapper {
  width: 100%;
  display: flex;
  padding-left: 20px;
  padding-right: 60px;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 1024px) {
    flex-direction: column;
    padding-right: 20px;
  }
}

// --- Левая колонка (Список серверов) ---
.left_col {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

// Карточка обычного сервера (имитация ServerBlockItem)
.server_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 13px;
  height: 82px; // Высота реального блока
  border: 1px solid rgba(v.$neon-primary, 0.1);
  border-radius: v.$border-radius-neon;
  background: v.$new-background;
}

.server_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 60%;
}

.line_name {
  @include skeleton-box;
  height: 18px;
  width: 70%;
}

.line_address {
  @include skeleton-box;
  height: 14px;
  width: 90%;
}

.server_stats {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 20%;
}

.circle_icon {
  @include skeleton-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.line_map {
  @include skeleton-box;
  height: 12px;
  width: 60px;
}

.server_img {
  @include skeleton-box;
  width: 70px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid rgba(v.$neon-primary, 0.2);
}

// --- Правая колонка (Премиум блок) ---
.right_col {
  width: 35%;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

// Контейнер премиум блока (имитация PremiumServerBlockItem)
.premium_container {
  width: 100%;
  background: v.$new-background;
  padding: 10px;
  border-radius: v.$border-radius-neon;
  border: 1px solid rgba(v.$neon-primary, 0.2);
  box-shadow: v.$glow-primary;
  min-height: 500px;
}

.premium_title {
  @include skeleton-box;
  height: 28px;
  width: 60%;
  margin: 0 auto 25px auto; // Центрируем как h2
}

.premium_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

// Карточка премиум сервера
.premium_item {
  padding: 10px;
  background-color: v.$new-background;
  border: 1px solid rgba(v.$neon-accent, 0.2);
  border-radius: v.$border-radius-sharp;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.premium_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.premium_info {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
