@use "../../../../styles/variable.scss" as v;

// Блок 4: Кнопка играть
.playButton {
  background: #0891b2;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: v.$glitch-purple;
  cursor: pointer;
  transition: v.$transition-fast;
  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    transform: translateY(0);
  }
}
