@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variable.scss" as v;

.commentsBlock {
  width: 700px;
  margin: 0 auto;
  min-height: 600px;
  h2 {
    @include m.title();
    font-size: 28px;
  }
}

.login {
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  color: white;
}

.comments {
  background-color: #313840;
  width: 100%;
  border-radius: 4px;
  padding: 40px 50px 30px 50px;
  height: 700px;

  /* Важное: делаем flex-колонку, чтобы внутренние элементы можно было правильно распределить */
  display: flex;
  flex-direction: column;

  /* Включаем box-sizing — тогда height:400px включает padding и всё считается корректно */
  box-sizing: border-box;
}

.sendComment {
  height: 150px;
}

.avatarAndTextArea {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.avatar {
  width: 70px;
  height: 67px;
  border: 2px solid v.$neon-warning;
  box-shadow: 0 0 8px rgba(v.$neon-warning, 0.5);
  background: v.$bg-darker;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.textArea {
  width: 100%;
  min-height: 80px;
  resize: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 1px;
  border: 2px solid rgb(179, 168, 168);
  padding: 5px 10px 5px 10px;
  color: white;
  font-weight: 400;
  background-color: #444f5a;
}

.buttonBlock {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.commentButton {
  @include m.button();
  width: 200px;
  font-size: 12px;
  height: 30px;
  padding: 7px;
}

.error {
  @include m.error();
}

.commentsBlockItems {
  flex: 1 1 auto;
  min-height: 0; /* критично для корректного скролла в flex-контейнерах */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
  margin-top: 30px;

  /* скроллбар */
  scrollbar-width: thin;
  scrollbar-color: rgb(141, 126, 126) transparent;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgb(141, 126, 126);
  }

  > * + * {
    margin-top: 12px;
  }
}

.noComments {
  text-align: center;
  color: white;
  font-size: 18px;
}

.buttonPagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
  .commentButton {
    width: 300px;
    height: 35px;
  }
}
