/*@use "../../../../styles/variable.scss" as v;

// Блок 3: Кнопка копирования
.copyButton {
  background: transparent;
  border: 1px solid rgba(v.$neon-primary, 0.3);
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: v.$neon-primary;
  cursor: pointer;
  transition: v.$transition-fast;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(v.$neon-primary, 0.1);
    border-color: v.$neon-primary;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}*/

@use "../../../../styles/variable.scss" as v;

// Обертка нужна, чтобы позиционировать текст относительно кнопки
.wrapper {
  position: relative;
  display: inline-flex; // Чтобы не занимал всю ширину
  align-items: center;
}

.copyButton {
  background: transparent;
  border: 1px solid rgba(v.$neon-primary, 0.3);
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: v.$neon-primary;
  cursor: pointer;
  transition: v.$transition-fast;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(v.$neon-primary, 0.1);
    border-color: v.$neon-primary;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}

.message {
  // Позиционируем справа от кнопки
  position: absolute;
  z-index: 1000;
  top: -10px;
  left: 50%;

  // Компенсация: Сдвиг элемента обратно на половину ЕГО собственной ширины и высоты.
  transform: translate(-50%, -50%);

  // Стили текста
  font-size: 10px;
  color: v.$neon-primary; // Или любой другой цвет, например белый
  white-space: nowrap; // Чтобы текст не переносился
  font-weight: 500;

  // Анимация прозрачности
  opacity: 0;
  pointer-events: none; // Чтобы сквозь текст можно было кликать (на всякий случай)
  transition: opacity 0.3s ease;

  // Когда добавляем класс visible - текст появляется
  &.visible {
    opacity: 1;
  }
}
